module <module_name>

go 1.22

require (
	github.com/julienschmidt/httprouter v1.3.0
	github.com/kelseyhightower/envconfig v1.4.0
	github.com/rs/cors v1.10.1
	github.com/sirupsen/logrus v1.9.3
	github.com/seatgeek/logrus-gelf-formatter v0.0.0-20210414080842-5b05eb8ff761
	github.com/gemnasium/logrus-graylog-hook/v3 v3.1.0
	github.com/go-playground/validator/v10 v10.26.0
	github.com/RizkiAnurka/go-library v1.0.4
	gorm.io/gorm v1.25.5
	gorm.io/driver/postgres v1.5.4
)